---
// Import the necessary dependencies
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import ReviewComponent from "@components/ui/blocks/ReviewComponent.astro";

// Define props from Astro
const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  withReview,
  avatars,
  starCount,
  rating,
  reviews,
  src,
  alt
} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
  withReview?: boolean;
  avatars?: Array<string>;
  starCount?: number;
  rating?: string;
  reviews?: string;
  src?: any;
  alt?: string;
}
---
<section class="mx-auto max-w-full h-[40dvh] max-h-screen overflow-hidden w-screen">
  <Image
    src={src}
    alt={alt || "Hero Image"}
    class="absolute inset-0 w-full h-[55%] object-cover object-left z-0"
  />
  
  <div class="absolute inset-0 w-full h-[55%] bg-black opacity-60"></div>
  
  <!-- Content Container -->
  <div class="relative z-10 max-w-7xl mx-auto px-4 py-8 flex items-start min-h-[20rem]">
    <div class="max-w-2xl">
      <h1 class="block uppercase font-oswald text-balance text-4xl font-bold tracking-tight text-white sm:text-6xl lg:text-8xl lg:leading-tight">
        <Fragment set:html={title} />
      </h1>
      <div class="h-1 bg-red-600 w-4/12 mt-2"></div>
    </div>
  </div>
</section>